; begin auth token
//pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/registry/:username=FutureSchoolHQ
//pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/registry/:_password=cGJnNHl1bG1yNWJyMm8zcmFzNnYydGtrYXY0ZXQzbWJodW82N253eDVqdXZiZzJ3eWlscQ==
//pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/:username=FutureSchoolHQ
//pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/:_password=cGJnNHl1bG1yNWJyMm8zcmFzNnYydGtrYXY0ZXQzbWJodW82N253eDVqdXZiZzJ3eWlscQ==
//pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/FutureSchoolHQ/_packaging/FutureSchoolHQ/npm/registry/ 
                        
always-auth=true