; begin auth token
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/:username=TuteriaHQ
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/:_password=Z2Y2eHhmdDYzYnFwZHV6aXdsNXRncWppYXp2ZmpvaDV4eXNlbzJkdWxoeGQzbDUzajRwcQ==
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/:username=TuteriaHQ
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/:_password=Z2Y2eHhmdDYzYnFwZHV6aXdsNXRncWppYXp2ZmpvaDV4eXNlbzJkdWxoeGQzbDUzajRwcQ==
//pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/TuteriaHQ/_packaging/TuteriaHQ/npm/registry/

always-auth=true
